body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:black
}

header {
    background:white; 
    color: rgb(224, 90, 37);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center;
    
    
}
header h1{
    margin: 0;
    font-size: 28px;
}

#menu a {
    margin-left: 20px;
    color:black;
    margin: 0 15px;
    text-decoration: none;
}
#menu a:hover{
    text-decoration: underline;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    margin-top: 0px;
}

footer p {
    margin: 0;
}

#menu-icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {

    #menu-icon {
        display: block;
        z-index: 1000;
    }

    #menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 220px;
        height: 100%;
        background: white;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
    }

    #menu a {
        margin: 20px;
        font-size: 18px;
    }

    #menu.active {
        right: 0;
    }
}

